body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Header*/
.app__header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15)
}

.app__header__padding {
    margin-top: 100px;
}

.app__header_content {
    max-width: 1080px;
    width: 80%;
    margin: auto;
}

.outer__container {
    margin: auto;
    width: 60%;
    max-width: 1080px;
}

.tb__container {
    border: none;
    border-top: 8px solid #3f51b5;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.form {
    margin: 20px;
    max-width: 720px;
}

.form h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
}

.shadow {
    box-shadow: 0 12px 24px 0 rgba(38, 39, 41, .15)
}

.form__inner {
    padding: 0 20px 20px 20px;
}

.form div div {
    display: flex;
    flex-grow: 1;
}